.contact_container{
    .contact_content{
        padding:0.5em 0;
        @include grid(2);

        .contact_infor{
            p{
                padding: 0.5em 0;
                font-size: 1.2em;
                font-weight: 550;
            }            
        }
        .contact_form{
            .form_infor{
                @include flex_center;

                input,textarea{
                    padding:0.9em;
                    border-radius: 4px;
                }
            }
            .btn{
                padding:0.8em 0;
                button{
                    padding:0.6em 1em;
                    &:hover{
                        background: #ac7021;
                    }
                }
            }
        }
    }
}

@media screen and (width <=726px) {
    .contact_container{
        padding:0 5%;
    }
}